section {
  width: 100%;
  height: auto;

  padding: 40px 20px;

  background: SteelBlue;
  &>ul {
    display: grid;
    grid: repeat(2, auto) / repeat(3, 1fr);
    place-content: center;
    place-items: center;
    gap: 24px;

    width: 100%;
    height: auto;
    li {
      width: 100%;
      height: 100%;
      padding: 16px;

      background: white;
      border-radius: 8px;
    }
  }
}
