@import '../../../styles.scss';

nav {
  display: grid;
  grid: auto / repeat(6, auto);
  place-content: end center;
  place-items: end center;
  gap: 48px;

  width: 100%;
  height: 50px;
  a {
    width: auto;
    height: auto;

    color: white;
  }
}
