<section>
  <div>
    <header>
      <h2>Con el más completo <span>Sistema de Rastreo GPS</span></h2>
    </header>
    <main>
      <article>
        <mat-icon aria-hidden="false" fontIcon="where_to_vote"></mat-icon>
        <h3>Localizar</h3>
      </article>
      <article>
        <mat-icon aria-hidden="false" fontIcon="lock"></mat-icon>
        <h3>Inmovilizar</h3>
      </article>
      <article>
        <mat-icon aria-hidden="false" fontIcon="settings_backup_restore"></mat-icon>
        <h3>Recuperar</h3>
      </article>
    </main>
  </div>
</section>
