<section>
  <h2>Servicios | Promociones</h2>

  <hr>

  <article>
    <h3>Durante el Buen Fin apoya a tus clientes<br> para que contraten su servicio de localización<br> y aprovechen alguna de nuestras promociones.</h3>
    <div>
      <h3>
        <span>1</span>
        <span>
          <p><strong>Año adicional</strong> de servicios</p>
          <hr>
          <p>Gratis</p>
        </span>
      </h3>
      <h4>En Compras de <strong>contado a cuentas Fimtrck</strong>ó en el <strong>financiamiento</strong> del vehiculo.</h4>
    </div>
  </article>

  <hr>

  <article>
    <h3>Cargos recurrentes con Tarjeta de Crédito</h3>

    <div>
      <article>
        <figure>
          <p><strong>$ 10,000.00 MXN</strong></p>
        </figure>
        <h4>
          <span>PLAN DE 24 MESES</span>
          <p>Plan de 24 meses con 6 cargos recurrentes</p>
        </h4>
      </article>
      <article>
        <figure>
          <p><strong>$ 16,000.00 MXN / 20,000.00 MXN</strong></p>
        </figure>
        <h4>
          <span>PLAN DE 36 y 48 MESES</span>
          <p>Plan de 36  y 48 meses con 12 cargos recurrentes</p>
        </h4>
      </article>
      <article>
        <figure>
          <p><strong>$ 28,000.00 MXN</strong></p>
        </figure>
        <h4>
          <span>PLAN DE 60 MESES</span>
          <p>Plan de 60 meses con 12 cargos recurrentes</p>
        </h4>
      </article>
    </div>
  </article>

  <hr>

  <button type="button">Pedir mas información!</button>

</section>
