@import '../../../styles.scss';

main {
 display: grid;
 grid: repeat(3, auto) / 100%;
 place-content: center;
 place-items: center;

 width: 100%;
 min-height: 100svh;
 section {
  width: 100%;
  height: auto;
 }
}
