section {
  display: grid;
  grid: auto auto / 100%;
  gap: 1%;

  width: 100%;
  height: auto;
  //padding: 0.2% 1%;
  margin: 1% 0;

  //background: gray;
  border: 1px solid black;
  border-radius: 4px;
  header {
    width: 100%;
    height: auto;
    padding: 0.2% 1%;

    border-bottom: 1px solid black;
    h2 {
      width: 100%;
      height: auto;
    }
  }
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    place-content: center;
    place-items: center;
    gap: 1% 0.4%;

    width: 100%;
    height: auto;
    padding: 1% 1% 2% 1%;
    article {
      width: 100%;
      height: auto;
      //border: 1px solid black;
    }
  }
}

.example-card {
  max-width: 360px;
}
