<main>
  <header>
    <nav>
      <a routerLink="/"><fa-icon [icon]="brands.whatsapp"  size="1x"></fa-icon></a>
      <a routerLink="/"><fa-icon [icon]="brands.facebook"  size="1x"></fa-icon></a>
      <a routerLink="/"><fa-icon [icon]="brands.instagram" size="1x"></fa-icon></a>
      <a routerLink="/"><fa-icon [icon]="brands.twitter"   size="1x"></fa-icon></a>
      <a routerLink="/"><fa-icon [icon]="brands.tiktok"    size="1x"></fa-icon></a>
      <a routerLink="/"><fa-icon [icon]="brands.youtube"   size="1x"></fa-icon></a>
    </nav>
  </header>

  <section>
    <h1>Fimtrack</h1>

    <figure>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,32L40,53.3C80,75,160,117,240,144C320,171,400,181,480,170.7C560,160,640,128,720,138.7C800,149,880,203,960,202.7C1040,203,1120,149,1200,117.3C1280,85,1360,75,1400,69.3L1440,64L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" style="--darkreader-inline-fill: #282b36;" data-darkreader-inline-fill=""></path></svg>
      <div>
        <h4>Recuperacion de tu vehiculo al instante!</h4>
        <button type="button"><fa-icon [icon]="brands.youtube" size="3x" animation="beat"></fa-icon></button>
        <h4>
          <fa-icon [icon]="icons.mouse" size="1x" animation="beat"></fa-icon>
          <span>Da Click y Mira como!</span>
        </h4>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,128L60,112C120,96,240,64,360,74.7C480,85,600,139,720,176C840,213,960,235,1080,213.3C1200,192,1320,128,1380,96L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z" style="--darkreader-inline-fill: #282b36;" data-darkreader-inline-fill=""></path>
      </svg>
    </figure>
  </section>

  <section>
    <h2>Servicios | Promociones</h2>

    <hr>

    <article>
      <h3>Durante el Buen Fin apoya a tus clientes<br> para que contraten su servicio de localización<br> y aprovechen alguna de nuestras promociones.</h3>
      <div>
        <h3>
          <span>1</span>
          <span>
            <p><strong>Año adicional</strong> de servicios</p>
            <hr>
            <p>Gratis</p>
          </span>
        </h3>
        <h4>En Compras de <strong>contado a cuentas Fimtrck</strong>ó en el <strong>financiamiento</strong> del vehiculo.</h4>
      </div>
    </article>

    <hr>

    <article>
      <h3>Cargos recurrentes con Tarjeta de Crédito</h3>

      <div>
        <article>
          <figure>
            <p><strong>$ 10,000.00 MXN</strong></p>
          </figure>
          <h4>
            <span>PLAN DE 24 MESES</span>
            <p>Plan de 24 meses con 6 cargos recurrentes</p>
          </h4>
        </article>
        <article>
          <figure>
            <p><strong>$ 16,000.00 MXN / 20,000.00 MXN</strong></p>
          </figure>
          <h4>
            <span>PLAN DE 36 y 48 MESES</span>
            <p>Plan de 36  y 48 meses con 12 cargos recurrentes</p>
          </h4>
        </article>
        <article>
          <figure>
            <p><strong>$ 28,000.00 MXN</strong></p>
          </figure>
          <h4>
            <span>PLAN DE 60 MESES</span>
            <p>Plan de 60 meses con 12 cargos recurrentes</p>
          </h4>
        </article>
      </div>
    </article>

    <hr>

    <button type="button">Pedir mas información!</button>

  </section>

  <section>
    <ul>
     <li>* Las promociones on son acumulables.</li>
     <li>* Aplica únicamente los días 18, 19, 20 y 21.</li>
     <li>* Aplican únicamente para pagos directo a Fimtrack.</li>
     <li>* Paralas las promociones las cotizaciones deberán ser con fecha del día 18 al 21 de noviembre del 2022 y con el nombre del cliente completo.</li>
     <li>* El año de servicio adicional no genera comisión para ninguna persona del área comercial.</li>
    </ul>
  </section>

  <footer>
    too!
  </footer>

</main>
